@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-spartan: "League Spartan", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@700&family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap");
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}
